// Footer stillar// HOME SCSS
/* SITE FOOTER CSS */

.footer{
    background-color: #2C343E;

    &__bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }


   &__link{
      text-decoration: none;
  }


   &__link:hover{
      opacity: 0.8;
   }

   &__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 200px;
   }


   &__item{
     width: 141px;
     height: 15px;
     font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.923077px;
     text-transform: uppercase;
   }


   &__item a{
      color: #83888F;
      text-decoration: none;
   }


   &__item a:hover{
      color: #fff;
  }

  &__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 141px;
   }

   &__item{
    width: 24px;
    height: 24px;
    margin-left: 15px;
    text-align: center;
  }


   &__item a{
    color: #FEFCF7;
    text-decoration: none;
   }


   &__item a:hover{
    color: #FDD6BA;
   }
}

.fa{
    margin-right: 12px;
    font-size: 24px;
}

// ABOUT SCSS
/* SITE FOOTER CSS */

.footer{
    background-color: #2C343E;
}

.footer-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-bottom-left-link{
    text-decoration: none;
}

.footer-bottom-left-link:hover{
    opacity: 0.8;
}
.footer-bottom-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 200px;
}

.footer-bottom-item{
    width: 141px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}
.footer-bottom-item a{
    color: #83888F;
    text-decoration: none;
}

.footer-bottom-item a:hover{
     color: #fff;
}

.footer-bottom-right-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 141px;
}

.footer-bottom-right-list-item{
    width: 24px;
    height: 24px;
    margin-left: 15px;
    text-align: center;
}

.footer-bottom-right-list-item a{
    color: #FEFCF7;
    text-decoration: none;
}

.footer-bottom-right-list-item a:hover{
    color: #FDD6BA;
}

.fa{
    margin-right: 12px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}