.great{

    &__hero{
        background-image: url(../images/Bitmapa.jpg);
        background-repeat: no-repeat;
        max-width: 1280px;
        min-height: 600px;
    }
    &__hero{
        position: relative;
        margin: 0;
        max-height: 367px;
        padding-top: 117px;
        padding-left: 85px;
    }

    &__heading{
        margin: 0;
        padding: 0;
        font-family: Fraunces 9pt;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
        max-width: 525px;
    }

    &__desc{
        margin-top: 32px;
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
        max-width: 407px;
    }
}

@media only screen and (max-width: 1270px){
    .great {
      padding: 20px 0;

      &__hero{
          background-image: url(../images/bitmapbg.jpg);
          border-radius: 5px;
      }
    }

}

@media only screen and (max-width: 649px){
  .great{
     padding: 18px 0;

     &__hero{
        //  background-image: url(../images/Bitmap11bg.jpg);
        //  width: 100%;
        //  height: 500px;

     }

     &__heading{
         min-width: 260px;
     }

     &__desc{
         max-width: 294px;
     }
  }
}
